<!DOCTYPE HTML>
<html lang="en">
    <head>
        <script src="http://localhost:35729/livereload.js"></script>
        <title><%= component_name %></title>
    </head>
    <body>
        <script type='text/javascript' src='<%= path_to_steal %>/steal/steal.js?<%= path %>'></script>
    	<div class="wrapper"></div>
    </body>
</html>